/*
	Styles for Class project
*/
body {
	background-color: lightgray;
}

/*.carousel{*/
	/*width: 500px; margin: 0 auto;*/
/*}*/

.carousel-control {
	 /*height: 80px;*/
	 /*margin-top: 0;*/
	 /*font-size: 120px;*/
	 /*text-shadow: 0 1px 1px rgba(0,0,0,.4);*/
	 color: transparent;
	 /*border: 0;*/
	 /*z-index: 10;*/
 }

.carousel-inner > .item > img {
    margin: 0 auto;
		/*margin-bottom: 5px;*/
}
.carousel-text {
	margin: 10px;
}

.morecontent span{
	display:none;
}

.blog {
	border-left: white solid 1px;
	padding: 0px 20px 0px 20px;
	border-right: white solid 1px;
}

.blogtopimage{
	float: left;
	padding: 0px 5px 0px 0px;
}

.blogbottomimage{
	float: left;
	padding: 0px 5px 0px 0px;
}
.namefield{
	margin: 10px
}
.emailfield{
	margin: 10px
}
.submitbutton{
	margin: 10px
}
