* {
    margin: 0px;
}

.input {
    margin-top: 20px;
}

.jumbotron {
    background-color: white;
    height: 200px
}

.bg-info {
    background-color: orange;
}

main {
    padding: 0px 10px 100px 10px;
    background-image: linear-gradient(180deg, orange, red);
}